# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/

# Node / Nuxt
node_modules/
.nuxt/
.output/
.nitro/
.cache/
dist/

# Env / Secrets
.env
.env.local
.env.*.local

# Cloudflare
.wrangler/
